html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MontserratRegular', sans-serif;
}

* {
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}




h1 {
  font-size: 38px;
  font-family: 'MontserratSemiBold', sans-serif;
  margin-top: 39px;
  margin-bottom: 35px;
}

h2 {
  font-size: 26px;
  font-family: 'MontserratBold', sans-serif;
  margin-top: 50px;
  margin-bottom: 25px;
}

h3 {
  font-size: 19px;
  font-family: 'MontserratBold', sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
}

a, p {
  font-size: 17px;
  font-family: 'MontserratRegular', sans-serif;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 25px;
  overflow-x: scroll;
}

img {
  margin: 0;
  overflow-x: scroll;
}

code {
  margin-bottom: 25px;
}
